extends layout

block content
  
  mixin player(position, player)
    td
      span(class="glyphicon glyphicon-circle-arrow-left",onclick="comparePlayer('" + player.playerId + "')")
    td= position
    td
      a(href="/player/" + player.playerId, style="padding:0px")= player.playerName
    td= player.playerHistoryList[0].salary
    td= playerHelper.getNextYearSalary(player.playerHistoryList[0])
    td= player.playerHistoryList[0].keeperSeason
    td= player.playerHistoryList[0].keeperSeason + 1

  div(class="container-fluid")
    div(class="row")
      div(class="col-sm-12 col-md-12")
        h1(class="page-header")= roster.team.teamName
        div(clas="row")
          table(class="table table-hover")
            thead
              th
              th Position
              th Name
              th 2014 Salary
              th 2015 Salary
              th 2014 Keeper Season
              th 2015 Keeper Season
            for player in roster.catchers
              tr
                mixin player("C", player)
            for player in roster.firstBase
              tr
                mixin player("1B", player)              
            for player in roster.secondBase
              tr
                mixin player("2B", player)              
            for player in roster.thirdBase
              tr
                mixin player("3B", player)              
            for player in roster.shortstop
              tr
                mixin player("SS", player)            
            for player in roster.middleInfield
              tr
                mixin player("2B/SS", player)            
            for player in roster.cornerInfield
              tr
                mixin player("1B/3B", player)            
            for player in roster.outfielders
              tr
                mixin player("OF", player)            
            for player in roster.utility
              tr
                mixin player("U", player)            
            for player in roster.pitchers
              tr
                mixin player("P", player)            
            for player in roster.disabledList
              tr
                mixin player("DL", player)            